<h2>Products</h2>
<a href="/admin/products/new">Add product</a>
<table style="width:600px;" class="table">
  <th>ID</th>
  <th>Name</th>
  <th>Price</th>
  <th></th>
  <th></th>
  <th></th>
  <% @products.each do |product| %>
    </tr>
    <td><%= product.id  %></td>
    <td><%= product.name %></td>
    <td>$<%= product.price / 100 %></td>
    <td><a href="/products/<%= product.id %>">view</a></td>
    <td><a href="/admin/products/<%= product.id %>/edit">edit</a></td>
    <td><a href="/admin/products/<%= product.id %>/delete">delete</a></td>
  <% end %>
</table>

<h2>Orders</h2>
<table style="width:600px;" class="table">
  <th>ID</th>
  <th>Name</th>
  <th>Time</th>
  <th>Product</th>
  <th></th>
  <th></th>
  <% @orders.each do |order| %>
    </tr>
    <td><%= order.id  %></td>
    <td><%= order.name %></td>
  <% end %>
</table>
